*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
   
    height: 100vh;
    box-sizing: border-box;

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.main_header{
    width: 100%;
    height: 120px;
    background-color: rgb(255, 255, 255);
    color: #fff;

    
}

/* Top bar styling */
.social{
    background-color: rgb(21, 165, 255);
    display: flex;
    /* flex-direction: row; */
    align-items: center; 
    justify-content: space-between;
    height: 40px;
    padding-left: 2%;
    padding-right: 2%;
    
}
.social i{
     
    color: #fff;
    padding-left: 40px;
    
}
.social i:hover{
    color: orange;

}

/* Main nav styling */

#logo{
    color: #000;
}
/* .navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */

.navigation{
    display: grid;
    grid-template-columns:200px  1fr;
    justify-content: space-between;
    height: 120px;
    padding-top: 2%;
    padding-left: 2%;
    
     
}
.nav a{
    padding-left:5% ;
    text-decoration: none;
    color: #000;
    
}
.nav a:hover{
    color: red;
   
}
   
  /* end of header style */

  /* Main style begins here */
  .intro{
    display: flex;
    justify-content: space-around;
    height: 500px;
    background-color: purple;
    background-image: url(/img/kids1.png);
    justify-content: flex-end;
    padding-right: 3%;
    
  }
  .intro img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
  .left_portion{
    background-color: #fff;
    opacity: 0.9;
    height: 60%;
    width: 30%;
    align-self: center;
    border-radius: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

  }
   .left_portion :nth-child(1){
    margin-bottom: 8%;
   }
.left_portion :nth-child(2){
    margin-bottom: 12%;
}
.contact{
    background-color: rgb(21, 165, 255);
    color: rgb(255, 255, 255);
    padding: 8px;
    height: 40px;
    font-size: 1em;
    width: 120px;
    border: none;
    border-radius: 6px;
}
.intro button:hover{
    background-color: orange;
    color: #000;
    transform: scaleY(10px);
    transform: scale(1.2);
    rotate:360deg;
}
/* about section styling */

.about{
    width: 100%;
    height: 46s0px;
    background-color: #fff;
    padding-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}
.about :nth-child(1){
    margin-bottom: 4%;
}
.about :nth-child(2){
    margin-bottom: 4%;
}

.stats{
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: space-around;
  
}
.stats p{
    background-color: rgb(18, 74, 255);
    width: 200px;
    height: 40px;
    color: #fff;
    text-align: center;
    
    border-radius: 4px;
    padding: 8px;
}
.stats p:hover{
    background-color: orange;
    transform: translateY(8px);
}

/* students section styling here */

.students{
    display: grid;
    margin-top: 4%;
    padding-left: 1%;
    padding-right: 1%;
    /* gap: 1em; */
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-auto-rows: auto;
    
}
.students :nth-child(1){
    background-image: url(/img/standard1);
    
}

.students :nth-child(2){
    background-image: url(/img/st2);
    
}
.students :nth-child(3){
    background-image: url(/img/standard1);
    
}
.students :nth-child(4){
    background-image: url(/img/news1);
    
}
.students :nth-child(5){
    background-image: url(/img/news2);
    
}
.students :nth-child(6){
    background-image: url(/img/news3);
    
}
.students :nth-child(7){
    background-image: url(/img/news4);
    
}
.students :nth-child(8){
    background-image: url(/img/news1);
    
}
.students :nth-child(9){
    background-image: url(/img/news3);
    
}
.students :nth-child(10){
    background-image: url(/img/news2);
    
}
.students :nth-child(2){
    background-image: url(/img/news4);
    
}
.standard{
    height: 200px;
    text-align: center;
    /* background-color: aqua; */
    display: block;
    border: 1px solid rgb(143, 143, 143);

}

/* teacher names styling begins here */

.teachers{
    width: 100%;
    height: auto;
    padding-top: 6%;
}
.tnames img{
    border-radius: 4%;
   
}
.subject{
    border: 1px solid gray;
    width: 200px;
    padding-top: 8px;
    


}
.subject i{
    color: orange;
}
.subject:hover{
    background-color: green;
}
.tnames{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-columns: repeat(4, 1fr); */
    justify-content: space-evenly;
    padding-top: 6%;
    justify-items: center;
    grid-template-rows: auto;
    grid-gap: 2%;
}
.t1 h3{
    margin-bottom: 6%;
    font-size: 1em;
}
.teachers :nth-child(1){
    text-align: center;
    margin-bottom: 4%;
}
.teachers :nth-child(2){
    text-align: center;
}
.principal{
    display: grid;
    grid-template-columns: 1fr 400px;
    padding: 2%;
    align-items: center;
    gap: 4%;
    margin-top: 8%;
   
    background-color: orange;
    width: 100%;
    padding-bottom: 6%;
}
.principal h2 {
    margin-bottom: 4%;
    font-size: 2em;
}

/* facilities css from here */


.facilities{

    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 6%;
    background-color: rgb(103, 187, 255);
    padding: 4%;

}
.facilities h2{
    text-align: center;
    margin-bottom: 4%;
}
.facilities :nth-child(2){
    
}
.facility_icons{
    display: grid;
    margin-top: 4%;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 20px;
    
}

/* news styling begins here */
.news{
    padding: 4%;
}
.news :nth-child(1){
    margin-bottom: 2%;
}

.allnews{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.news1{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;

}


/* contact styling here */

.contact{
    width: 100%;
    padding: 4%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    background-color: blue;
    /* background-image: url(/img/contactphone.jpg); */

}
.inputarea{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.inputarea input{
    padding: 16px;
    margin-bottom: 4%;
    opacity: 0.6;
    border: none;
    border-radius: 4px;
}
.inputarea form{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}
.send_details{
    padding: 16px;
    background-color: orange;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
.send_details:hover{
    background-color: aqua;
}